# Initial configuration file to test a potential workflow in CircleCI.
version: 2
jobs:
  docker-build:
    docker:
      - image: russjt/docker-git-gcloud
    working_directory: ~/docker-build
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache make
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/php-dummy-prod.tar
      - run:
          name: Load Docker image layer cache
          command: |
            docker load -i /caches/php-dummy-prod.tar
      - run:
          name: Authenticate with Google Container Engine
          command: |
            echo ${GCLOUD_CREDS} | base64 -d > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud --quiet config set project ${GCLOUD_PROJECT_ID}
      - run: 
          name: Authenticate with Docker
          command: |
            mkdir -p ${HOME}/.docker
            echo ${DOCKER_CREDS} | base64 -d > ${HOME}/.docker/config.json
      - run:
          name: Build & Deploy Docker Image
          command: |
            cd docker/prod && make deploy
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/php-dummy-prod.tar russjt/php-dummy-image-prod
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/php-dummy-prod.tar

  test:
    docker:
      - image: russjt/php-dummy-image-prod
    working_directory: /var/www/html/
    steps:
      - run:
          name: Run PHPUnit Tests
          command: |
            mkdir test-results
            ./vendor/bin/phpunit ./test/ --log-junit test-results/result.xml
      - store_artifacts:
          path: test-results/
          destination: test-results
      - store_test_results:
          path: test-results/
  deploy:
    docker:
      - image: russjt/gcloud-kubectl
    working_directory: ~/deploy
    steps:
      - checkout
      - run:
          name: Authenticate with Google Container Engine
          command: |
            echo ${GCLOUD_CREDS} | base64 -d > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud --quiet config set project ${GCLOUD_PROJECT_ID}
      - run:
          name: Log into kubectl for GKE
          command: |
            gcloud container clusters get-credentials gke-sandbox --zone us-central1-c --project etsy-gke-sandbox
      - run:
          name: Update K8s Deployment
          command: |
            kubectl set image deployment/dummy-php-app app=gcr.io/etsy-gke-sandbox/php-ci-prod:${CIRCLE_SHA1}
workflows:
  version: 2
  build-test:
    jobs:
      - docker-build
      - test:
          requires:
            - docker-build
      - deploy:
          requires: 
            - test